.contacto__title{
    display: flex;
    color:  #f7f8f7;
    justify-content: center;
    font-size: 1.6rem;
    text-shadow: black 0.1em 0.1em 0.1em;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.12em;
}
.contain-contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap:wrap;
    background-color: #36433b;
    width: 100%;
}
.formcontacto__subtext{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
    letter-spacing: 0.12em;
    text-shadow: black 0.1em 0.1em 0.1em;
    
}
.box-contacto{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
.form{
    display: flex;
    padding: 2%;
    background-color: #354a3d;
    align-items: center; 
}

.whassap{
    width: 64px;
}
.formcontacto__subtext{
    color: #fff;
    font-weight: 100;
    margin-left: 5%;
}
.container_email{
    /* margin-top: 1rem; */
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    padding: 2%;
}
.email{
    width: 64px;
}
.a{
    text-decoration: none;
    color: #fff;
}
.contacto{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
    text-shadow: black 0.1em 0.1em 0.1em;
    font-size: 1.4rem;
}
.form__contacto__img{
    width: 60%;
}

/*Responsive*/
@media (max-width: 800px) {
    .form{
        padding: 0%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .container_email{
        align-items: center;
    }
    .container_whassap{
        display: flex;
        align-items: center;
    }
    .contacto{
        text-align: center;
    }
    .box-contacto{
        justify-content: space-evenly;
        align-items: center;
        padding: 1%;
    }
    
}