.container{
    
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
    overflow: hidden;
}
.header{

}
.main{
    width: 70%;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and(max-width:800px) {
    
    
}