.container{
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
    overflow: hidden;
}
.header{

}
.footer{
    width: 100%;
    max-width: 1233px;
    margin: 0 auto;
    overflow: hidden;
    
}